.produto {
    border-radius: 8px;
    background-color: rgb(178, 198, 224);
    padding-top: 3px;
    padding-left: 10px;
    width: 900px;
    height: 500px;
    border: 1px solid gray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
}

.info-produto {
    text-align: center;
}

.produto button {
    background-color: green;
    padding: 8px;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    width: 400px;
    height: 50px;
}

button:hover{
    cursor: pointer;
}

.produto img {
    display: block;
    margin: 0 auto;
    width: 250px;
}