/* Alterações de tags por não haver estrutura significativa de elementos */

body {
    background-color: rgb(116, 165, 255);
}

h1 {
    color: rgb(255, 255, 255);
}

img {
    display: block;
    margin: 0 auto;
}

li {
    color: rgb(166, 80, 184);
}

p {
    padding: 10px;
    border: 2px solid black;
}