<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Área Interna | Ativos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <div th:include="~{fragments/header :: header}"></div>
    <main class="senai-main">
        <section class="senai-hero">
            <div class="senai-shell" style="justify-content:center;">
                
            </div>
        </section>
    </main>
    <div th:include="~{fragments/footer :: footer}"></div>
</body>

</html>