*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border-style: none;
    background-color: rgb(103, 134, 233);
    border: 1px solid rgb(119, 114, 114);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

header a {
    font-style: italic;
}

nav{
    background-color: #333;
    overflow: hidden;
}
div .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-size: 5vh;
}   